<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Config/etc/system_file.xsd">

    <system>
	<tab id="risecommerce" translate="label" sortOrder="500">
             <label>Risecommerce</label>
        </tab>

        <section id="searchsanitizer" translate="label" sortOrder="900" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Search Sanitizer</label>
            <class>separator-top</class>
            <tab>risecommerce</tab>
            <resource>Risecommerce_Sanitizer::searchsanitizer</resource>
            <group id="general" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Settings</label>

                <field id="enabled" translate="label" type="select" sortOrder="10"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Sanitizer</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="patterns" translate="label" type="text" sortOrder="20"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Blocked Patterns (comma separated)</label>
                    <comment>Example: select,insert,update,delete,drop,union,into,where,www,https,html,.com</comment>
                </field>

                <field id="warning_message" translate="label" type="text" sortOrder="30"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Warning Message</label>
                    <comment>Custom warning shown to customers</comment>
                </field>

                <field id="block_html" translate="label" type="select" sortOrder="40"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block HTML/JS</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="block_urls" translate="label" type="select" sortOrder="50"
                       showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block URLs</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
